/*-----------------------------------*\
  #./css/stylesheet.css
\*-----------------------------------*/

/**
 * ©® Rhamseys Garcia 2022
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px 10%;
}

/* body {
  display: flex;
  position: relative;
  flex-direction: row;
  background: hsl(0, 0%, 7%);
  font-family: 'Poppins', sans-serif;
  color: white;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
} */

/**
  * COMPRESS TOGGLE
  */
/* #sidebar-toggle {
  position: sticky;
  text-align: right;
  top: 0; 
  width: 100%;
  padding: 5px 0px;
} */

/**
  * SIDEBAR CONTAINER
  */
/* .sidebar {
  position: sticky; 
  z-index: 1;
  background: hsl(240, 2%, 12%);
  border: 1px solid hsl(0, 0%, 22%);
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  border-radius: 20px;
  left: 0; 
  top: 0;
  width: 25%;
  height: 100vh;
  margin: 0px 55px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px 15px 10px;
} */

/**
  * SIDEBAR INFO
  */
/* .sidebar-colum {
  display: flex;
  flex-direction: column;
} */
.sidebar-info {
  text-align: center;
}
.avatar-box {
  box-sizing: border-box; 
  height: auto; 
  max-width: 100%; 
  padding: 30px 0 15px;
}

.avatar-box img {
  display: block;
  border-radius: 25px;
  height: auto; 
  width: 100%; 
  max-width: 100%; 
}


.social-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  gap: 10%;
  padding: 10px 10px;
}
.social-item > a > svg{
  width: 25px !important;
  height: 25px !important;
}
/**
    * layout
    */

.layout {
  border: 1px solid hsl(0, 0%, 22%);
  border-radius: 20px;
  background: hsl(240, 2%, 12%);
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  width: 75vw;
}

.info-content {
  padding: 0px 10px 30px;
}

.info-content h1 {
  color: hsl(0, 0%, 98%);
  font-size: 21px;
  font-weight: 700;
  letter-spacing: -0.25px;
  margin-bottom: 0px 10px;
  padding-bottom: 15px;
}

.info-content .titles {
  color: hsl(0, 0%, 100%);
  background: hsl(240, 1%, 17%);
  font-size: 11px;
  font-weight: 300;
  width: max-content;
  padding: 10px 12px;
  border-radius: 8px;
  width: 100%;
}

#info_more-btn {
  /*Toggle with JS */
  display: none;
}

.contact-item {
  display: flex;
  flex-direction: row;
  padding: 10px 5px;
  width: 100%;
  justify-content: left;
}
.contact-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  text-decoration: none;
  color: seashell;
}
.contact-title {
  color: hsla(0, 0%, 84%, 0.7);
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.contact-info > a {
  font-size: 0.75em;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-overflow: ellipsis;
  color: seashell;
  text-decoration: none;
}

.icon-box {
  background: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  border-radius: 8px;
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  padding: 20px;
}




/*-----------------------------------*\
  #CUSTOM MEDIA PROPERTY
\*-----------------------------------*/

/**
  * 1024px
  */
@media only screen and (max-width: 1024px) {
  body {
    flex-direction: column;
    margin: 40px 30px;
  }
  hr:first-of-type {
    display: none;
  }

/**
  * COMPRESS TOGGLE
  */
  #sidebar-toggle {
    display: none;
  }

/**
  * SIDE BAR
  */
  .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0px 0px 100px;
    height: max-content;
  }
  .avatar-box a img {
    width: 300px;
    min-width: 200px;
  }
  .sidebar-info {
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-bottom: 3px solid white;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  .sidebar-info-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .social-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 15px;
  }
  .contact-info {
    flex-grow: 1;
    justify-content: center;
  }

  .social-list {
    gap: 50px;
  }
  .social-item > a > svg{
    width: 100px !important;
    height: 100px !important;
  }

  .layout {
    width: 100% !important;
  }
  .info-content h1 {
    font-size: 45px !important;
  }
  .info-content .titles {
    font-size: 17px !important;
  }
}

/**
  * 768px
  */
@media only screen and (max-width: 768px) {
  body {
    margin: 30px 20px;
  }
  .info-content {
    padding: 0;
  }
  .info-content h1 {
    font-size: 40px !important;
    padding-top: 10px;
  }
  .info-content .titles {
    font-size: 15px;
  }
  .social-contact a {
    height: 20px;
  }
}

/**
  * 535px
  */
@media only screen and (max-width: 535px) {
  .sidebar-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .info-content h1 {
    font-size: 30px !important;
    padding-top: 10px;
  }
  .info-content .titles {
    font-size: 14px !important;
  }
}

/**
  * 480px
  */
@media only screen and (max-width: 480px) {
  body {
    margin: 30px 10px;
    min-width: 315px;
  }
  .info-content h1 {
    font-size: 15px !important;
  }
  .avatar-box {
    padding: 15px 10px 15px;
  }
  .social-contact {
    flex-direction: column;
    display: flex;
  }
  .contact-info-email {
    font-size: inherit;
  }

  .social-list{
    gap:20px;
  }
  .social-item > a > svg{
    height: 20px!important;
    width: 20px!important;
  }
}

